body {
  font-family: Arial, sans-serif;
  background-color: #1C531D;
  color: #ffffff;
}

.game-container {
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
}

.game-board {
  text-align: center;
}

.card {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100px;
  height: 150px;
  margin: 10px 20px;
  vertical-align: top;
  background-image: url('../images/card-flip-card-image.png');
  background-size: cover;
  transition: transform 0.5s;
  color: #000;
}

.card-face-down img {
  width: 100px;
  height: 150px;
}

.card-face-up {
  background-color: #fff;
  padding: 20px;
  transform: rotateY(180deg);
}

.game-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #238AB6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1A6DAF;
}